/* Базовые стили для всех устройств */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.App {
  width: 100%;
  height: 100vh;
}

.left,
.right {
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
  height: 100vh;
}

.right {
  display: none;
}

.mobile-data-form {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100000;
}

.list-and-pagination {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user-list {
  padding: 10px 0;
  height: 100vh;
  overflow-y: scroll;
}

.pagination-buttons {
  padding: 10px 0;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
}

.paginate-button {
  padding: 6px;
  font-size: large;
  cursor: pointer;
  border: none;
  width: 150px;
}

.user {
  line-height: 30px;
  display: flex;
}

.user:hover {
  background-color: #82d1ff;
  cursor: pointer;
}

.user > svg {
  width: 32px;
}

.user > * {
  padding-left: 15px;
}

.user-name {
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}

.user-header {
  background-color: #82d1ff;
  padding: 0 50px;
  height: 40px;
  display: flex;
  align-items: center;
}

.user-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(90%, 550px);
  padding: 20px 30px;
}

.user-picture {
  width: 70px;
  height: auto;
}

form > span,
label {
  display: flex;
  flex-direction: column;
}

label {
  color: grey;
  font-weight: 600;
  margin: 8px 0 4px 0;
}

input {
  line-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 0;
  width: 100%;
  font-weight: 500;
  padding: 3px;
}

input:focus {
  border: 2px solid #82d1ff;
  outline: none;
}

#save-button {
  position: absolute;
  bottom: 20px;
  right: 21px;
  background-color: #82d1ff;
  padding: 6px;
  font-size: large;
  cursor: pointer;
  border: none;
  width: 100px;
}

.loader,
.no-data {
  font-size: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.close {
  display: block;
  width: 50px;
  font-size: 25px;
  height: auto;
  font-weight: bold;
  position: relative;
  right: 35px;
}

/* Медиа-запросы для больших экранов */
@media (min-width: 760px) {
  .container {
    flex-direction: row;
    display: flex;
  }

  .left {
    width: 35%;
  }
  
  .pagination-buttons {
    width: 35%;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
  }

  .right,
  .mobile-data-form {
    width: 65%;
    display: block;
  }
  .mobile-data-form {
    position: static;
    display: block;
  }

  .user-data {
    width: min(100%, 800px);
    flex-direction: row;
  }

  .user-data > svg {
    flex: 1;
  }
  .user-data > form {
    flex: 5;
  }

  .close {
    display: none;
  }
}
